
* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    width: 100%;
    max-height: 90px;
    padding: 20px;
    background-color: #202020;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-img{
    width: 50px;
    max-height: auto;
    position: absolute;
    left: 3%;
    top: 2%;
}

.logo-title{
    color:white;
    position: absolute;
    left: 100%;
    top: 15%;
}

.menu-item {
    list-style: none;
   
    
}

.menu-link {
    display: flex;
    color: white;
    text-decoration: none;
    backdrop-filter: blur(15px);
    z-index: 1000;
    padding: 20px 30px;
    display: inline-block;
    opacity: 0.25;
    transition: 0.25s;
    
} 


/* BANNER */
.banner-section {
    padding: 100px 0;
    background: url(img/banner-bg1.png);
    background-size: cover;
    background-position: center;
}

.banner-title{
    font-size: 48px;
}

.banner-title, .banner-description {
    text-align:center;
    color: white;
}

/* CARDS */

.cards-section {
    padding: 50px 0px;
}

.cards-title, .cards-description {
    text-align:center;
}

.card {
    padding: 25px;
    width: 25%;
    margin-top: 25px;
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}

.card-button {
    text-align: center;
    background: #151c39;
    padding: 10px 10px;
    border-radius: 10px;
}

.card-link {
    color: white;
    text-decoration: none;
}

.card-title, .card-text{
    margin-bottom: 10px;
}

/* FOOTER */

.footer{
    background: url(img/footer-bg.png);
    background-size: cover;
    padding: 100px 0px;
}
.copyright {
    color: white;

}

.cards-row {
    display: inline-block;
}
.card-img {
    max-width: 100%;
    max-height: auto;
    
}
.card:hover{
    width: 35%;
}
.marker{
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}
.marker::before{
    --o:rgb(15, 207, 15);
    content: '';
    width: 50px;
    height: 20px;
    position: absolute;
    background: var(--o);
    top: -10px;
    left: 50%;
    transform: translate(-70%);
    border-radius: 8%;
    box-shadow: 
    0 0 15px var(--o)
    0 0 30px var(--o)
    0 0 45px var(--o)
    0 0 60px var(--o);
}
.description1{
 color: white;
    text-decoration: none;
}


